body
{
    background-color: #F1F1f1;
}

h2
{
    color:#cc0099;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form
{
    background-color: white;
    text-align: left;
    padding:10px;
    font-size: 1.5rem;
}

input[type=submit]
{
    border:none;
    background-color:#f8beea;
    color:#cc0099;
    font-weight: 600;
}
