body
{
    background-color: #F1F1f1;
}

h2,a
{
    color:#cc0099;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form
{
    background-color: white;
    text-align: left;
    padding:10px;
    font-size: 1.5rem;
}

input[type=submit]
{
    border:none;
    background-color:#f8beea;
    color:#cc0099;
    font-weight: 600;
    font-size: 1rem;
    padding: 2px 6px;
}

input[type=submit]:hover
{
    background-color:#f79ce3;
    color:#cc0099;
    padding: 2px 6px;
    cursor: pointer;
}

input[type=text] , input[type=password], input[type=email]
{
    width:98%;
    margin-bottom: 5px;
    font-size: 1rem;
}
