*
{
    font-family: Arial, Helvetica, sans-serif;
}

html,body
{
    margin: 0;
    padding: 0;
    border:0;
}
.navbar
{
    background-color: #cc0099;
    padding: 5px;
    color:white;
    font-size:xx-large;
    height:3rem;
    line-height: 3rem;

}

.navbarButtons
{
    color:white;
    float: right;
    background-color: #cc0099;
    border: none;
    font-size:xx-large;
    margin:0px 10px;
    border-bottom: 2px solid #cc0099 ;
    line-height: 3rem;
}
.navbarButtons:hover
{
    cursor: pointer;
    border-bottom: 2px solid white ;
}

.errorMessage
{
  background-color: rgb(255, 63, 63);
  color: rgb(129, 3, 3);
  border: 1px solid rgb(129, 3, 3) ;
  width: fit-content;
  padding:4px;
  font-size: 1rem;
}
