*
{
    font-family: 'Times New Roman', Times, serif;
}

body
{
    font-size: larger;
}

a
{
    text-decoration: none;
    color:black;
}
.profile
{
    width: 100%;
    background-color: #F1F1f1;
    margin: auto;
    padding: 7px;
    box-sizing: border-box;
}

.post
{
    background-color: white;
    margin:10px;
    padding: 7px;
}

textarea
{
    resize: none;
    width: calc(100% - 5.5rem);
    border: none;
}

textarea:focus
{
    outline: none;
}

.postContent
{
    border:3px solid  rgba(241, 241, 241,0.5);
    color:black;
    padding:0.5rem;
}

.profButton
{
    border:none;
    background-color:#f8beea;
    color:#cc0099;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2px 6px;
}

.profButton:hover
{
    background-color:#f79ce3;
    color:#cc0099;
    padding: 2px 6px;
    cursor: pointer;
}

.react
{
    margin:5px;
}

.react:hover
{
    cursor: pointer;
}

.fa-solid
{
    color:#cc0099;
}

.date
{
    float: right;
    font-size: small;
}

.comment
{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.comment:focus
{
    outline: none;
}


