*
{
    font-family: 'Times New Roman', Times, serif;


}

body
{
    font-size: larger;
    background-color: #F1F1f1;
}

a
{
    text-decoration: none;
    color:black;
}

.profile
{
    width: 100%;
    background-color: #F1F1f1;
    margin: auto;
    box-sizing: border-box;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.6rem;
}
.addPost
{
    resize: none;
    width: calc(100% - 4.5rem);
    border: none;
}

.addPost:focus
{
    outline: none;
}

.post
{
    background-color:white;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.postContent
{
    color:black;
    box-sizing: border-box;
}

.post div
{
    background-color: white;
    min-height:fit-content;
}

.profButton
{
    border:none;
    background-color:#f8beea;
    color:#cc0099;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2px 6px;
    box-sizing: border-box;
}

.profButton:hover
{
    background-color:#f79ce3;
    color:#cc0099;
    padding: 2px 6px;
    cursor: pointer;
}

.react-container
{
    display: flex;
    flex-direction: row;
    border: 1px solid  #d6d6d6;
}
.react
{
    margin: 5px;
}

.react:hover
{
    cursor: pointer;
}

.fa-solid
{
    color:#cc0099;
}

.date
{
    float: right;
    font-size: small;
}

.comment-container
{
    display: none;
    border: 1px solid  #d6d6d6;
    padding: 3px;
}

.comment
{
    resize: none;
    width: calc(100% - 8.5rem);
    height: 1rem;
}

.comment:focus
{
    outline: none;
}


